@use "../abstracts" as *;

.contact {
  @include normalizePadding;
  h1 {
    margin-bottom: 2rem;
    @include tablet {
      font-size: 4rem;
      text-align: center;
      margin-bottom: 3rem;
    }
    @include desktop {
      font-size: 5rem;
      margin-bottom: 5rem;
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include desktop {
    width: 60%;
    margin: 0 auto;
  }
  label {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    span {
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: capitalize;
    }
    input {
      border-radius: 0.5rem;
      border: 1px solid $border-color;
      padding: 1rem;
      transition: all 0.2s ease;
      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
    textarea {
      border: 1px solid $border-color;
      padding: 1rem;
      border-radius: 0.5rem;
      transition: all 0.2s ease;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }
  button {
    padding: 1rem;
    background-color: $primary-color;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.2s ease;
    @include tablet {
      margin-top: 2rem;
    }
    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $primary-hover-bg;
    }
  }
}
