@use "../abstracts" as *;
@use "../components/car";

.gallery {
  @include normalizePadding;
  display: flex;
  flex-direction: column;

  &__intro {
    margin-bottom: 2rem;
    text-transform: capitalize;
    text-align: center;
    @include desktop {
      text-align: left;
      font-size: 4rem;
    }
    span {
      color: $primary-color;
    }
  }
  &__search {
    border: 1px solid $border-color;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    @include desktop {
      width: 30%;
    }
    i {
      transition: color 0.2s ease;
      opacity: 0.7;
    }
    input {
      padding: 1rem;
      border: none;
      flex: 1;

      &:focus {
        outline: none;
      }
    }

    &--focused {
      border-color: $primary-color;
      i {
        color: $primary-color;
      }
    }
  }
}

.types {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  user-select: none;
  margin-top: 2rem;
  font-size: 1.2rem;
  .type {
    padding: 1rem;
    border: 1px solid $border-color;
    transition: all 0.2s ease;
    border-radius: 5rem;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;

    &--active,
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

.list {
  display: grid;
  gap: 2rem;
  grid-row-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem 0;
  @include tablet {
    grid-row-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.result {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 1rem;
  @include desktop {
    margin-top: 2rem;
  }
}

.notFound {
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 1rem;
  i {
    font-size: 5rem;
    color: lighten($primary-color, 10%);
    margin-bottom: 1rem;
    @include tablet {
      font-size: 8rem;
    }
  }

  &__intro {
    font-size: 1.4rem;
    font-weight: 500;
    @include tablet {
      font-size: 2rem;
    }
  }

  &__term {
    font-weight: 500;
    font-size: 3rem;
    color: lighten($primary-color, 10%);
    @include tablet {
      font-size: 4rem;
    }
  }
}
