@use "../abstracts" as *;

.reserve {
  @include normalizePadding;
  @include desktop {
    padding: 0 $desktop-spacing + 8%;
  }
  &__intro {
    background: linear-gradient(
      90deg,
      darken($primary-color, 20%) 0%,
      lighten($primary-color, 10%) 100%
    );
    padding: 2rem;
    margin-bottom: 4rem;
    color: white;
    border-radius: 1rem;
    .info {
      position: relative;
      height: 20rem;
      font-weight: bold;
      text-transform: capitalize;
      @include tablet {
        height: 25rem;
      }
      &__type {
        text-transform: uppercase;
        font-size: 2rem;
        opacity: 0.8;
      }

      &__name {
        margin-top: 2rem;
        font-size: 2.5rem;
        @include desktop {
          font-size: 2.5rem;
        }
      }

      &__preview {
        position: absolute;
        bottom: -5rem;
        right: 50%;
        transform: translateX(50%);
        width: 25rem;
        height: 20rem;
        @include tablet {
          right: 0;
          transform: unset;
          bottom: -5rem;
          width: 40rem;
          height: 35rem;
        }

        img {
          @include size(100%);
          object-fit: contain;
        }
      }
    }
  }
}

.main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .summary {
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $border-color;
  }
}

.inputs {
  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .fuel {
  }
  .start {
  }
  .end {
  }
}
