@use "../abstracts/index" as *;

.nav {
  padding: 1rem $mobile-spacing;
  background-color: $primary-bg;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  @include tablet {
    padding: 1rem $tablet-spacing;
    justify-content: space-between;
    background-color: transparent;
    color: $primary-text-color;
  }
  @include desktop {
    padding: 1rem $desktop-spacing;
    margin-top: 1rem;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  .logo {
    margin-right: auto;
    font-weight: 900;
    @include tablet {
      margin: 0;
    }
    @include desktop {
      font-size: 1.8rem;
    }
  }

  .links {
    display: none;
    list-style: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.4rem;

    .link {
      transition: all 0.2s ease;
      font-weight: bold;
      &:hover,
      &--active {
        color: $primary-color;
      }

      &:before {
        margin: 0 1rem;
        content: ".";
        font-size: 2rem;
      }

      &:first-of-type {
        &:before {
          content: "";
        }
      }
    }

    @include tablet {
      display: flex;
    }
  }

  &__reserve {
    display: none;
    background-color: $primary-color;
    padding: 1rem 2rem;
    text-transform: capitalize;
    border-radius: 5rem;
    font-size: 1.4rem;
    color: white !important;
    transition: all 0.2s ease;
    &:hover {
      background-color: $primary-hover-bg;
    }
    @include tablet {
      display: inline-block;
    }
    @include desktop {
      padding: 1rem 3rem;
      font-weight: bold;
    }
  }
}
.mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $primary-bg;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  display: none;
  &--open {
    display: flex;
    @include tablet {
      display: none;
    }
  }

  &__links {
    list-style: none;
    font-size: 3rem;
    margin-top: 40%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-transform: capitalize;
  }

  &__link {
    transition: all 0.2s ease;

    &:hover {
      color: $primary-color;
    }
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
  }

  .btn {
    margin-top: auto;
    padding: 1rem;
    background-color: $secondary-bg;
    color: $primary-text-color;
    border-radius: 5rem;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
  }
}

.open {
  font-size: 2rem;
  @include tablet {
    display: none;
  }
}
