$fonts: Roboto, Arial, sans-serif, Serif;

$primary-text-color: #22211f;
$secondary-text-color: #000;

$primary-bg: #000;
$secondary-bg: #fff;
$primary-color: #6f00ff;

$tablet-spacing: 8%;
$mobile-spacing: 1rem;
$desktop-spacing: 10%;

$primary-hover-bg: darken($primary-color, 10%);
